/* Variables */
:root {
	--dark-gray: rgb(43,39,39);
	--light-gray: rgb(86, 86, 84);
	--light-blue: #40b9fab8;
	--orange: orange;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
  }
  
  .calculator {
	background-color: var(--dark-gray);
	width: 88%;
	max-width: 450px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 1px 3px 13px -1px rgba(0,0,0, 0.56);
	overflow: hidden;
	display: flex;
	flex-direction: column;
  }
  
  .calculator .casio {
	background-color: darkblue;
	height: 50px;
	padding: 10px 10px 10px 30px;
	border-radius: 5px;
	font-size: 1.5rem;
	cursor: not-allowed;
  }
  
  .calculator .casio p {
	text-align: left;
	color: white;
	font-weight: 600;
  }
  
  .output {
	background-color: white;
	height: 80px;
	width: 100%;
	text-align: right;
	border-radius: 5px;
	padding: 10px;
	font-size: 2rem;
	position: relative;
	cursor: not-allowed;
  }
  
  .display-1 {
	height: 20px;
	font-size: 1.1rem;
	opacity: 0.3;
	overflow: hidden;
  }
  
  .display-2 {
	color: var(--orange);
  }
  
  .display-3 {
	font-size: 1.3rem;
	opacity: 0.3;
	position: absolute;
	bottom: 0;
	left: 10px;
  }
  
  .input {
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
	padding: 10px;
	flex: 1;
  }
  
  .button {
	background-color: var(--dark-gray);
	height: 100%;
	width: 100%;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(57, 54, 45);
	border-radius: 15px;
	cursor: pointer;
  }
  
  .button:hover {
	background-color: lightskyblue;
	transition: all 0.1s ease-in-out;
  }
  
  .zero {
	grid-column: span 2;
  }
  
  .c, .ce {
	background-color: var(--light-blue);
  }
  
  .c:hover, .ce:hover {
	background-color: #369dd5;
  }
  
  .symbol {
	background-color: var(--light-gray);
  }
  
  .equal {
	background-color: var(--orange);
  }
  
  .equal:hover {
	background-color: #de940b;
  }
  
  @media (max-width: 600px) {
	.button {
	  font-size: 1.5rem;
	}
  
	.output {
	  font-size: 1.5rem;
	}
  
	.input {
	  gap: 5px;
	}
  }
  
  @media (max-width: 400px) {
	.button {
	  font-size: 1.2rem;
	  height: 60px;
	}
  
	.output {
	  font-size: 1.2rem;
	  height: 60px;
	  padding: 5px;
	}
  
	.calculator .casio {
	  font-size: 1rem;
	  height: 40px;
	  padding: 5px 5px 5px 15px;
	}
  
	.display-1 {
	  font-size: 0.9rem;
	}
  
	.display-2 {
	  font-size: 1.2rem;
	}
  
	.display-3 {
	  font-size: 1rem;
	}
  
	.input {
	  gap: 5px;
	}
  }
  